<nav class="site-nav">
  <button class="nav-toggle" aria-label="Toggle navigation">&#9776;</button>

  <ul class="nav-menu">
    <li><a href="{{ site.url }}{{ site.baseurl }}/">home</a></li>
    <li><a href="{{ site.baseurl }}/about/">about us</a></li>
    <li><a href="{{ site.baseurl }}/members/">members</a></li>
    <li><a href="{{ site.baseurl }}/duo/">duo aragosta</a></li>
    <li><a href="{{ site.baseurl }}/quartet/">quartet euterpe</a></li>
    <li><a href="{{ site.baseurl }}/schedule/">schedule</a></li>
    <li><a href="{{ site.baseurl }}/watch_listen/">watch & listen</a></li>
    <li><a href="{{ site.baseurl }}/contact/">contact</a></li>
  </ul>
</nav>
