/* Header container - when not scrolled*/
.site-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  height: 100vh;
  /*position: fixed !important;*/
  transition: background-color 0.3s ease, height 0.3s ease;
  width: 200px;
  background-color: transparent;
  z-index: 9999;
  border: none !important;
  box-shadow: none !important;
}

.site-header .nav-menu {
  margin-top:  auto;
  gap: 0.1rem;
}

.site-header .nav-menu p {
  margin:  0;
  padding:  0;
  line-height: 1;
}

.site-header .nav-menu a {
  margin:  0;
  padding:  0;
  line-height: 1;
}

/*Header font pre-scroll*/
.site-header .nav-menu  a {
  color: #000000;
  transition: color 0.3s ease;
}

/*Header font pre-scroll*/
.site-header .nav-menu  a:hover {
  color: #000000;
  transition: color 0.3s ease;
}


/* Header container - when scrolled*/
.site-header.scrolled {
  background-color: transparent;
}

/*Header font - when scrolled*/
.site-header.scrolled .nav-menu  a {
  color: #000000 !important;
}

/*Header font - when scrolled*/
.site-header.scrolled .nav-menu  a:hover {
  color: #000000 !important;
}